:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  flex: 0 0 250px; /* fixed width */
  background: #0000;
  border-right: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000; /* make sure it stays above the map */
}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative; /* important to avoid Leaflet absolute overlap */
  z-index: 0;
}
